@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--nigth);
}

:root {
  --light-blue: #5acdfb;
  --light-pink: #fca9ce;
  --purple: #241836;
  --light-purple: #4c3869;
  --pistachio: #77be90;
  --dark-green: #193524;
  --nigth: #0c090d;
  --white: #fafafa;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--purple);
  padding: 20px;
  width: 400px;
  height: 600px;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

.calculator-display {
  border-radius: 10px;
  text-align: right;
  background-color: var(--nigth);
  color: var(--white);
  padding: 20px 30px;
  font-size: 1.7rem;
  box-shadow: -6px -1px 23px -3px rgba(142, 4, 253, 0.33);
  -webkit-box-shadow: -6px -1px 23px -3px rgba(142, 4, 253, 0.33);
  -moz-box-shadow: -6px -1px 23px -3px rgba(142, 4, 253, 0.33);
}

/* Resetting buttons */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}

.calculator-buttons {
  display: grid;
  height: 100%;
  margin-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: space-between;
}

.numpad-btn {
  appearance: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  background: var(--light-purple);
  border-radius: 10px;
  color: var(--light-pink);
  box-shadow: -6px -1px 23px -3px rgba(8, 3, 12, 0.75);
  -webkit-box-shadow: -6px -1px 23px -3px rgba(8, 3, 12, 0.75);
  -moz-box-shadow: -6px -1px 23px -3px rgba(8, 3, 12, 0.75);
}

.numpad-btn:hover {
  background-color: #5b457d;
}

.clear-btn {
  grid-column: span 2;
  font-weight: 600;
}

.back-btn,
.clear-btn,
.zero-btn {
  grid-column: span 2;
}

.enter-btn {
  grid-column: span 4;
}

.green-btn {
  font-weight: 700;
  background: var(--pistachio);
  color: var(--dark-green);
}

.green-btn:hover {
  background: #8bdfa8;
}

.accent-btn {
  background-color: #452a6d;
  font-size: 1.4rem;
}

.accent-btn:hover {
  background-color: #543384;
}

/* Text styles */

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}

/* backspace icon */
.backspace-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmNhOWNlIiBkPSJNNy45NSAxOUwzIDEybDQuOTUtN0gyMXYxNEg3Ljk1Wm0zLjQ1LTNsMi42LTIuNmwyLjYgMi42bDEuNC0xLjRsLTIuNi0yLjZMMTggOS40TDE2LjYgOEwxNCAxMC42TDExLjQgOEwxMCA5LjRsMi42IDIuNmwtMi42IDIuNmwxLjQgMS40WiIvPjwvc3ZnPg==)
    no-repeat center;
  padding: 25px;
}

/* multiply icon */
.multiply-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMTkzNTI0IiBkPSJtMTMuNDEgMTJsNi4zLTYuMjlhMSAxIDAgMSAwLTEuNDItMS40MkwxMiAxMC41OWwtNi4yOS02LjNhMSAxIDAgMCAwLTEuNDIgMS40Mmw2LjMgNi4yOWwtNi4zIDYuMjlhMSAxIDAgMCAwIDAgMS40MmExIDEgMCAwIDAgMS40MiAwbDYuMjktNi4zbDYuMjkgNi4zYTEgMSAwIDAgMCAxLjQyIDBhMSAxIDAgMCAwIDAtMS40MloiLz48L3N2Zz4=)
    no-repeat center;
  padding: 20px;
}

/* substract icon */
.substract-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMTkzNTI0IiBkPSJNMTkgMTNINXYtMmgxNHYyWiIvPjwvc3ZnPg==)
    no-repeat center;
  padding: 20px;
}

/* add icon */
.add-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMTkzNTI0IiBkPSJNMTEgMTNINXYtMmg2VjVoMnY2aDZ2MmgtNnY2aC0ydi02WiIvPjwvc3ZnPg==)
    no-repeat center;
  padding: 20px;
}

/* divide icon */
.divide-icon {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGZpbGw9IiMxOTM1MjQiIGQ9Ik0yMjQgMTI4YTggOCAwIDAgMS04IDhINDBhOCA4IDAgMCAxIDAtMTZoMTc2YTggOCAwIDAgMSA4IDhabS05Ni00OGExNiAxNiAwIDEgMC0xNi0xNmExNiAxNiAwIDAgMCAxNiAxNlptMCA5NmExNiAxNiAwIDEgMCAxNiAxNmExNiAxNiAwIDAgMC0xNi0xNloiLz48L3N2Zz4=)
    no-repeat center;
  padding: 20px;
}
